.player {
    width: 250px;
    display: flex;
    align-items: center;
    background-color: #30544497;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 1;

    span {
        font-size: 24px;
        margin-left: 16px;
        margin-right: 16px;
        overflow-wrap: break-word;
        font-family: Martel, sans-serif !important;

    }

    img {
        height: 45px;
        width: 45px;
        object-fit: cover;
        border-radius: 100%;
        margin: 10px 0 10px 10px;
    }
}

.playerActive {
    width: 300px;
    background-color: #015A30 !important;
}

