/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

@media (min-width:720px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width:720px) {
  .hide-mobile {
    display: none;
  }
}

/* martel-200 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/martel-v10-latin-200.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/martel-v10-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/martel-v10-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/martel-v10-latin-200.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/martel-v10-latin-200.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/martel-v10-latin-200.svg#Martel') format('svg');
  /* Legacy iOS */
}

/* martel-300 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/martel-v10-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/martel-v10-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/martel-v10-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/martel-v10-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/martel-v10-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/martel-v10-latin-300.svg#Martel') format('svg');
  /* Legacy iOS */
}

/* martel-regular - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/martel-v10-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/martel-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/martel-v10-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/martel-v10-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/martel-v10-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/martel-v10-latin-regular.svg#Martel') format('svg');
  /* Legacy iOS */
}

/* martel-600 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/martel-v10-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/martel-v10-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/martel-v10-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/martel-v10-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/martel-v10-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/martel-v10-latin-600.svg#Martel') format('svg');
  /* Legacy iOS */
}

/* martel-800 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/martel-v10-latin-800.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/martel-v10-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/martel-v10-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/martel-v10-latin-800.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/martel-v10-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/martel-v10-latin-800.svg#Martel') format('svg');
  /* Legacy iOS */
}

/* martel-700 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/martel-v10-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/martel-v10-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/martel-v10-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/martel-v10-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/martel-v10-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/martel-v10-latin-700.svg#Martel') format('svg');
  /* Legacy iOS */
}

/* martel-900 - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/martel-v10-latin-900.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/martel-v10-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/martel-v10-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/martel-v10-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/martel-v10-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/martel-v10-latin-900.svg#Martel') format('svg');
  /* Legacy iOS */
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}